<?xml version="1.0" encoding="utf8"?>
<module>
    <parameters>
        <group title="常用设置">
            <section title="" folded="false">
                <param description="" formType="text" label="标题" name="name" ptype="text"
                       readonly="false"></param>
            </section>
        </group>
    </parameters>
</module>
