<?xml version="1.0" encoding="utf8"?>
<module>
    <parameters>
        <group title="常用设置">
            <section title="" folded="false">
                <param description="" formType="text" label="海报背景图片" name="pic_url" ptype="text"
                       readonly="false"></param>
                <param description="^_^" formType="text" label="单位像素PX" name="blank_height" ptype="text"
                       readonly="false"></param>
                <param description="可以为颜色值" formType="text" label="背景图片地址" name="bg_pic_url" ptype="text"
                       readonly="false"></param>
                <param description="^_^" formType="select" label="背景图片" name="repeat_type" ptype="text"
                       readonly="false">
                    <option value="no-repeat">无平铺</option>
                    <option value="repeat" selected="selected">平铺</option>
                    <option value="repeat-x">水平平铺</option>
                    <option value="repeat-y">垂直平铺</option>
                </param>
                <param description="^_^" formType="select" label="对齐方式" name="position_type" ptype="text"
                       readonly="false">
                    <option value="">无</option>
                    <option value="top left">左上</option>
                    <option value="top center" selected="selected">中上</option>
                    <option value="top right">右上</option>
                    <option value="left center">中左</option>
                    <option value="center center">中</option>
                    <option value="right center">中右</option>
                    <option value="bottom left">左下</option>
                    <option value="bottom center">中下</option>
                    <option value="bottom right">右下</option>
                </param>
            </section>
        </group>
    </parameters>
</module>
